/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/

/*Diseño responsivo de la web*/

/* Asignación de global de caracteristicad*/
* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    width: 100%;
}
    /* Bloque en el header con una imagen y una barra de navegación */
    header section {
        padding: 4%;
        display: flex;
        align-items: center;
        
    }
    header img {

        width: 100%;
    }
    header nav {

        margin-right: 4%;
        font-size: 1.25rem;

    }
    header nav li {

        color: black;

    }
main {
    width: 100vw;
}
    /* Primer bloque imagen y texto integrado */
    section_1 {
        display: block;
        position: relative;
        align-items: center;
    }
        section_1 img {
            width: 100vw;
        }
        section_1 h2 {
            position: absolute;
            width:90vw;
            top:10vw;
            left:5%;
            text-align: center;
            font-size: 10vw;
            color: white;
        }
        section_1 p {
            position: absolute;
            width:90vw;
            top:30vw;
            left: 5%;
            text-align: center;
            font-size: 3vw;
            color: white;
        }
    /* Segundo bloque texto intermedio */
    section_2 {
        display: block;
        width:45vw;
        margin-left: 27.5vw;
    }
    section_2 h2 {
        align-items: center;
        font-size: 4.9vw;
        border-bottom: 1vw solid #00B172;
    }
    /* Tercer bloque con una lista compuesta por imagenes y texto de diferentes colores */
    section_3 {
        display: block;
        width:60vw;
        margin-left: 20vw;
    }
        section_3 img {
            margin-left: 6vw;
            width: 30vw;
        }
        section_3 h2 {
            width:50vw;
            margin-left: -3vw;
            font-size: 6vw;
            text-align: center;
            color:#00B172;
        }
        section_3 p {
            width:50vw;
            margin-left: -3vw;
            text-align: center;
            font-size: 3vw;
        }
    

@media (min-width:720px){

    header section {
        display: flex;
        flex-direction: column;
        padding:3%;
    }
        header img {
            width: 40%;
        }
        header nav ul {

            display: flex;
            align-items: center;
            justify-content:space-around;
            font-size: 2rem;
            margin-left: -5%;

            
        }
        header li {
            padding: 3%;
        }
   

    
}
@media (min-width:1024px) {
    header{
        display: block;
        width:100%;
    }   
        header section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:space-between;
            padding: 2%;
        }
        header img {
            width: 20vw;
        }
        
        header ul {
            display: flex;
        }
        header li {
            padding: 2%;
            font-size: 1.75rem;
        }
    section_3 {
        display:flex;
        width:100vw;
        margin-left: -0.5vw;
        align-items: center;
        justify-content:space-around;
    }
        section_3 img {
            width: 15vw;
        }
        section_3 h2 {
            width:30vw;
            text-align: center;
            font-size: 3vw;
            color:#00B172;
        }
        section_3 p {
            width:20vw;
            margin-left: 3vw;
            text-align: center;
            font-size: 1.75vw;
        }

}
