/* Configuracion mas responsiva de la web */
@media screen and (max-width:500px) {
    *{
        width: 320px;
        text-decoration: none;
        list-style: none;
      }
      /* Diseño del header*/
      header {
        /* Pongo un ancho y una altura automatica que se ajusta al contenido del header que ocupe el 100% */
            display:block;
            width: 100%;
        }
        /* El header tiene dos elementos uno es el logo y otro es la barra de navegación los tengo que centrar en altura y ponerlos cada uno en los extremos del header */
            .posiciones_header {
                width:100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            /* Ajusto el tamaño del icono de spotify cin un margen de un 2% alrredor de la imagen*/
            .posiciones_header img {
                padding: 5px;
                width: 320px;
                height: auto;
            }
            .posiciones_header ul{
              margin-left: 20%;
            }
            /* Diseño la barra de navegación con otro flex para poner los elementos en linea  ,el tamaño del texto y color */
            .posiciones_header ul li {
                padding: 3px;
                font-family:Arial, Helvetica, sans-serif;
                font-size:1.5em;
                color: black;
            }
      /* Diseño del primer contenedor de la zona principal */
      .contenedor1 {
        display: block;
        width: 320px;
      }
      /* Posicionamiento de la imagen */
      .contenedor1 img {
        position:relative;
        width: 320px;
      }
      /* Posicionamiento de los textos y animación*/
      .contenedor1 h2 {
        position: absolute;
        top:12.5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        text-align: center;
        color:white;
        animation-duration: 2s;
        animation-name: text_mov_h2;
      }
      .contenedor1 p {
        position: absolute;
        top: 15%;
        width: 320px;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.75em;
        animation-duration: 2s;
        animation-name: text_mov_p;
      }
      /* Animación de texto p */
      @keyframes text_mov_p {
        from {
          margin-left: 320px;
          width: 320px;
        }
      
        to {
          margin-left: 0%;
          width: 320px;
        }
      }
      /*diseño del texto central */
      @keyframes text_mov_h2 {
        from {
          margin-left: -320px;
          width: 320px;
        }
      
        to {
          margin-left: 0px;
          width: 320px;
        }
      }
      /* DIseño contenedor 2 */
      .contenedor2 {
        display: block;
      }
      /* Posicionamiento y diseño del texto superior */
      #Texto_intermedio {
        position: absolute;
        margin-left: 40px;
        width: 220px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size:1em ;
        border-bottom: 2px solid rgb(53, 180, 116);
      }
      .lista_contenedor2 {
        position:absolute;
        top: 25%;
        display: flex;
        flex-direction: column;
      }
      .lista_contenedor2 ul img {
        width: 150px;
        height: auto;
        margin-left: 10%;
      }
      .lista_contenedor2 ul h2 {
        margin-left: -5%;
        color:rgb(53, 180, 116);
        font-family: Arial, Helvetica, sans-serif;
        font-size:1.60em;
      }
      .lista_contenedor2 ul p {
      margin-left: -15%;
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        font-size:1.25em;
      }
      .contenedor3 {
        display: block;
        position: relative;
        margin-top:310%;
        width: 310px;
        margin-left: 5px;
        background-color: rgb(53, 180, 116);
      
      }
      #Kanye_Text {
        color:white;
        padding-top: 2px;
        padding-left: 2px;
        width: 280px;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.90em;
        border-bottom: solid 1px white;
      }
      .contenedor3_grid h3 {
        padding-top: 4px;
        margin-left: 5%;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
    }
    .contenedor3_grid p {
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: lighter;
    }
      #spotify_icon {
        display: none;
        width: 20vw;
        height: auto;
      }
      #spotify_app {
        width: 310px;
        height: auto;
      }
      footer {
        display: flex;
        flex-direction: column;
      }
      .contenedor4 {
        align-items: center;
      }
      .contenedor4 img {
        width: 25vw320px;
        height: auto;
      }
      .contenedor4 p {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
      }
      
}
@media screen and (min-width:768px) and (max-width:1024px) {

    *{
        width: 767px;
        text-decoration: none;
        list-style: none;
      }
      /* Diseño del header*/
      header {
        /* Pongo un ancho y una altura automatica que se ajusta al contenido del header que ocupe el 100% */
            display:block;
            width: 100%;
        }
        /* El header tiene dos elementos uno es el logo y otro es la barra de navegación los tengo que centrar en altura y ponerlos cada uno en los extremos del header */
            .posiciones_header {
                width:100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            /* Ajusto el tamaño del icono de spotify cin un margen de un 2% alrredor de la imagen*/
            .posiciones_header img {
                padding: 5px;
                width: 500px;
                height: auto;
            }
            .posiciones_header ul{
              display: flex;
            }
            /* Diseño la barra de navegación con otro flex para poner los elementos en linea  ,el tamaño del texto y color */
            .posiciones_header ul li {
                font-family:Arial, Helvetica, sans-serif;
                font-size:2em;
                color: black;
            }
      /* Diseño del primer contenedor de la zona principal */
      .contenedor1 {
        display: block;
        width: 767px;
      }
      /* Posicionamiento de la imagen */
      .contenedor1 img {
        position:relative;
        width: 767px;
      }
      /* Posicionamiento de los textos y animación*/
      .contenedor1 h2 {
        position: absolute;
        top:12.5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5em;
        text-align: center;
        color:white;
        animation-duration: 2s;
        animation-name: text_mov_h2;
      }
      .contenedor1 p {
        position: absolute;
        top: 18%;
        width: 767px;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        animation-duration: 2s;
        animation-name: text_mov_p;
      }
      /* Animación de texto p */
      @keyframes text_mov_p {
        from {
          margin-left: 767px;
          width: 767px;
        }
      
        to {
          margin-left: 0%;
          width: 767px;
        }
      }
      /*diseño del texto central */
      @keyframes text_mov_h2 {
        from {
          margin-left: -767px;
          width: 767px;
        }
      
        to {
          margin-left: 0px;
          width: 767px;
        }
      }
      /* DIseño contenedor 2 */
      .contenedor2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      /* Posicionamiento y diseño del texto superior */
      #Texto_intermedio {
        position: absolute;
        margin-top: 5%;
        width: 440px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size:2em ;
        border-bottom: 4px solid rgb(53, 180, 116);
      }
      .lista_contenedor2 {
        position:absolute;
        top: 37%;
      }
      .lista_contenedor2 ul img {
        margin-left: 35%;
        width: 150px;
        height: auto;
      }
      .lista_contenedor2 ul h2 {
        align-items: center;
        text-align: center;
        margin-left: -5%;
        color:rgb(53, 180, 116);
        font-family: Arial, Helvetica, sans-serif;
        font-size:3em;
      }
      .lista_contenedor2 ul p {
        width: 400px;
        margin-left: 19%;
        align-items: center;
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        font-size:2em;
      }
      .contenedor3 {
        display: block;
        position: relative;
        margin-top:175%;
        width: 767px;
        margin-left: 5px;
        background-color: rgb(53, 180, 116);
      
      }
      #Kanye_Text {
        color:white;
        padding-top: 2px;
        padding-left: 5px;
        width: 650px;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        border-bottom: solid 7px white;
      }
      .contenedor3_grid h3 {
        padding-top: 4px;
        margin-left: 5%;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
    }
    .contenedor3_grid p {
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: lighter;
    }
      #spotify_icon {
        display: none;
        width: 90px;
        height: auto;
      }
      #spotify_app {
        width: 310px;
        height: auto;
      }
      footer {
        display: flex;
        flex-direction: column;
      }
      .contenedor4 {
        align-items: center;
      }
      .contenedor4 img {
        width: 320px;
        height: auto;
      }
      .contenedor4 p {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
      }
      
  
}
@media screen and (min-width:1024px) {

    *{
        width: 1200px;
        text-decoration: none;
        list-style: none;
      }
      /* Diseño del header*/
      header {
        /* Pongo un ancho y una altura automatica que se ajusta al contenido del header que ocupe el 100% */
            display:block;
            width: 100%;
        }
        /* El header tiene dos elementos uno es el logo y otro es la barra de navegación los tengo que centrar en altura y ponerlos cada uno en los extremos del header */
            .posiciones_header {
                width:100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            /* Ajusto el tamaño del icono de spotify cin un margen de un 2% alrredor de la imagen*/
            .posiciones_header img {
                padding: 5px;
                width: 500px;
                height: auto;
            }
            .posiciones_header ul{
              display: flex;
            }
            /* Diseño la barra de navegación con otro flex para poner los elementos en linea  ,el tamaño del texto y color */
            .posiciones_header ul li {
                font-family:Arial, Helvetica, sans-serif;
                font-size:2em;
                color: black;
            }
      /* Diseño del primer contenedor de la zona principal */
      .contenedor1 {
        display: block;
        width: 1200px;
      }
      /* Posicionamiento de la imagen */
      .contenedor1 img {
        position:relative;
        width: 1200px;
      }
      /* Posicionamiento de los textos y animación*/
      .contenedor1 h2 {
        position: absolute;
        top:12.5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size:7em;
        text-align: center;
        color:white;
        animation-duration: 2s;
        animation-name: text_mov_h2;
      }
      .contenedor1 p {
        position: absolute;
        top: 20%;
        width: 1200px;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3em;
        animation-duration: 2s;
        animation-name: text_mov_p;
      }
      /* Animación de texto p */
      @keyframes text_mov_p {
        from {
          margin-left: 1200px;
          width: 1200px;
        }
      
        to {
          margin-left: 0%;
          width: 1200px;
        }
      }
      /*diseño del texto central */
      @keyframes text_mov_h2 {
        from {
          margin-left: -1200px;
          width: 1200px;
        }
      
        to {
          margin-left: 0px;
          width: 1200px;
        }
      }
      /* DIseño contenedor 2 */
      .contenedor2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      /* Posicionamiento y diseño del texto superior */
      #Texto_intermedio {
        position: absolute;
        margin-top: 5%;
        width: 650px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size:3em ;
        border-bottom: 10px solid rgb(53, 180, 116);
      }
      .lista_contenedor2 {
        position:absolute;
        top:50%;
        display: flex;
        flex-direction: column;
        margin-left: 28%;
    }
      .lista_contenedor2 ul img {
        width: 200px;
        height: auto;
      }
      .lista_contenedor2 ul h2 {
        margin-left: -40%;
        text-align: center;
        color:rgb(53, 180, 116);
        font-family: Arial, Helvetica, sans-serif;
        font-size:4em;
      }
      .lista_contenedor2 ul p {
        margin-left: -25%;
        width: 800px;
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        font-size:3em;
      }
      .contenedor3 {
        display: block;
        position: relative;
        margin-top:150%;
        width: 1200px;
        margin-left: 20px;
        background-color: rgb(53, 180, 116);
      
      }
      #Kanye_Text {
        color:white;
        padding-top: 2px;
        margin-left: 5%;
        width: 975px;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3em;
        border-bottom: solid 7px white;
      }
      #spotify_icon {
        display: none;
        width: 90px;
        height: auto;
      }
      #spotify_app {
        width: 310px;
        height: auto;
      }
      .contenedor3_grid h3 {
        padding-top: 4px;
        margin-left: 5%;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 4em;
    }
    .contenedor3_grid p {
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3em;
        font-weight: lighter;
    }
      footer {
        display: flex;
        flex-direction: column;
      }
      .contenedor4 {
        align-items: center;
      }
      .contenedor4 img {
        width: 700px;
        height: auto;
      }
      .contenedor4 p {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
      }
      
  
}
/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/
/* Configuración general de la pantalla */
* {
    width: 100%;
    margin: 0px;
    list-style: none;
    text-decoration: none;

}
/* Diseño del header*/
header {
/* Pongo un ancho y una altura automatica que se ajusta al contenido del header que ocupe el 100% */
    display:block;
    width: 100vw;
}
/* El header tiene dos elementos uno es el logo y otro es la barra de navegación los tengo que centrar en altura y ponerlos cada uno en los extremos del header */
    .posiciones_header {
        width:100%;
        display: flex;
        align-items: center;
    }
    /* Ajusto el tamaño del icono de spotify cin un margen de un 2% alrredor de la imagen*/
    .posiciones_header img {
        padding: 2vw;
        width: 20vw;
        height: auto;
    }
    /* Diseño la barra de navegación con otro flex para poner los elementos en linea  ,el tamaño del texto y color */
    .posiciones_header ul {
        width: 20vw;
        margin-left: 35vw;
        display: flex;
        
    }
    .posiciones_header ul li {
        padding: 1vw;
        font-family:Arial, Helvetica, sans-serif;
        font-size:2vw;
        color: black;
    }

    /* Diseño del primer contenedor de la zona principal */
    .contenedor1 {
        display: block;
        width: 100vw;
    }
    /* Posicionamiento de la imagen */
    .contenedor1 img {
        position:relative;
        width: 100vw;
    }
    /* Posicionamiento de los textos y animación*/
    .contenedor1 h2 {
        position: absolute;
        top:30vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10vw;
        text-align: center;
        color:white;
        animation-duration: 2s;
        animation-name: text_mov_h2;
    }
    .contenedor1 p {
        position: absolute;
        top: 45vw;
        width: 100vw;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vw;
        animation-duration: 2s;
        animation-name: text_mov_p;
    }
    /* Animación de texto p */
    @keyframes text_mov_p {
        from {
          margin-left: -100%;
          width: 100%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
    /*diseño del texto central */
      @keyframes text_mov_h2 {
        from {
          margin-left: 100%;
          width: 100%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
    }
    /* DIseño contenedor 2 */
    .contenedor2 {
        width: 100vw;
        display: block;
       
    }
    /* Posicionamiento y diseño del texto superior */
    #Texto_intermedio {
        position: absolute;
        width: 29vw;
        padding: 1vw;
        margin-left: 35vw;
        text-align: center;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size:2vw ;
        border-bottom: 0.5vw solid rgb(53, 180, 116);
    }
    .lista_contenedor2 {
        position:absolute;
        top: 85vw;
        display: grid;
        grid-template-columns: repeat(3, 1vw); /* Crea tres columnas de igual ancho */
        gap:30vw;
        align-items: center;

    }
    .lista_contenedor2 ul img {
        list-style: none;
        text-decoration: none;
        margin-left: 13vw;
        width: 10vw;
        height: auto;
    }
    .lista_contenedor2 ul h2 {
       
        text-align: center;
        width: 36vw;
        color:rgb(53, 180, 116);
        font-family: Arial, Helvetica, sans-serif;
        font-size:2vw;
    }
    .lista_contenedor2 ul p {
        
        margin-left: 10vw;
        width: 15vw;
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        font-size:1.25vw;
    }
    .contenedor3 {
        display: block;
        margin-top: 25vw;
        margin-left: 5vw;
        position: relative;
        width: 90vw;
        height: 47vw;
        background-color: rgb(53, 180, 116);

    }
    #Kanye_Text {
        color:white;
        padding-top:3vw;
        margin-left: 3vw;
        width: 41vw;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vw;
        border-bottom: solid 0.35vw white;
    }
    .contenedor3_grid {
        margin-left: 3vw;
        margin-right: 3vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        

    }
    .contenedor3_grid h3 {
        padding-top: 2vw;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vw;
    }
    .contenedor3_grid p {
        padding-top: 2vw;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5vw;
        font-weight: lighter;
    }
    #spotify_icon {
        width: 20vw;
        height: auto;
    }
    #spotify_app {
        width: 20vw;
        height: auto;
    }
    footer {
        display: block;
        margin-left: 5dvw;
        width: 45vw;
        height: 5vw;
        
    }
    .contenedor4 {
        display: flex;
        align-items: center;
        border-bottom: 0.35vw solid lightskyblue;
    }
    .contenedor4 img {
        width: 25vw;
        height: auto;
    }
    .contenedor4 p {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5vw;
    }







/* Estilos para pantallas pequeñas */

    @media screen and (max-width: 768px) {
        /* Aquí van tus reglas de estilo para pantallas pequeñas */
        header {
            flex-direction: column;
            font-size: 5em;
        }
        .lista_contenedor3_grid {
            display: flex;
            flex-direction: column;
        }
        .lista_contenedor3_grid h3 {
            font-size:5em ;
        }
        .lista_contenedor3_grid p {
            font-size: 3em;
        }

    }
  
