/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/

/*Diseño responsivo de la web*/

/* Asignación de global de caracteristicad*/
* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    width: 100%;
}
    /* Bloque en el header con una imagen y una barra de navegación */
    header section {
        padding: 4%;
        display: flex;
        align-items: center;
        
    }
    header img {

        width: 100%;
    }
    header nav {

        margin-right: 4%;
        font-size: 1.25rem;

    }
    header nav li {

        color: black;

    }
main {
    width: 100vw;
}
    /* Primer bloque imagen y texto integrado */
    section_1 {
        display: block;
        position: relative;
        align-items: center;
    }
        section_1 img {
            width: 100vw;
        }
        section_1 h2 {
            position: absolute;
            width:90vw;
            top:10vw;
            left:5%;
            text-align: center;
            font-size: 10vw;
            color: white;
            animation-duration: 2s;
            animation-name: text_mov_h2;
        }
        section_1 p {
            position: absolute;
            width:90vw;
            top:30vw;
            left: 5%;
            text-align: center;
            font-size: 3vw;
            color: white;
            animation-duration: 2s;
            animation-name: text_mov_p;
        }
        /* Animación de texto p */
        @keyframes text_mov_p {
            from {
            margin-left: -100%;
            width: 100%;
            }
        
            to {
            margin-left: -5%;
            width: 100%;
            }
        }
        /*Animación del texto central */
        @keyframes text_mov_h2 {
            from {
            margin-left: 100%;
            width: 100%;
            }
        
            to {
            margin-left: -5%;
            width: 100%;
            }
        }

    /* Segundo bloque texto intermedio */
    
    section_2 h2 {
        align-items: center;
        margin-left: 27vw;
        text-align: center;
        width:46vw;
        font-size: 5vw;
        border-bottom: 1vw solid #00B172;
    }
    /* Tercer bloque con una lista compuesta por imagenes y texto de diferentes colores */
    section_3 {
        display: block;
        width:60vw;
        margin-left: 20vw;
    }
        section_3 img {
            margin-left: 6vw;
            width: 30vw;
        }
        section_3 h2 {
            width:50vw;
            margin-left: -3vw;
            font-size: 2rem;
            text-align: center;
            color:#00B172;
        }
        section_3 p {
            width:50vw;
            margin-left: -3vw;
            text-align: center;
            font-size: 3vw;
        }
    section_4 {
        display: block;
        width:96vw;
        margin-left: 5vw;
        background-color: #00B172;
    }
        #Kanye_Text{
            width: 85vw;
            padding-top: 1vw;
            margin-left: 3vw;
            font-size: 4vw;
            color:white;
            border-bottom: 1vw solid white;
        }
    section_4 {
        display: block;
        align-items: center;
        justify-content: space-around;
        width:90vw;
        background-color: #00B172;

    }
        section_4 #Texto_en_lista {
            color:white;
            width: 90vw;
            font-size: 4vw;
            margin-left: 1vw;
        }
       
        section_4 #spotify_icon img {
            width:30vw;
            padding: 2vw;
            margin-left: 30vw;

        }
        section_4 #spotify_app img {
            padding: 2vw;
            margin-left: 3vw;
            width:80vw;
        }
footer {
    padding-top: 2vw;
    margin-left: 5vw;
}
footer img {
    width:50vw;
}
footer p {
    font-size: 1.25rem;
}
        

@media (min-width:720px){

    header section {

        display: flex;
        flex-direction: column;

        padding:1%;
    }
        header img {
            width: 25vw;
        }
        header nav ul {

            display: flex;
            align-items: center;
            justify-content:space-around;
            font-size: 1.25rem;
            margin-left: -7vw;
           

            
        }
        header li {
            padding-left: 7vw;
        }
        
        section_3 {
            display:flex;
            width:100vw;
            margin-left: -0.5vw;
            align-items: center;
        }
        section_3 img {
            margin-left: 6vw;
            width: 10vw;
        }
        section_3 h2 {
            width:30vw;
            margin-left: -3vw;
            font-size: 3vw;
            text-align: center;
            color:#00B172;
        }
        section_3 p {
            width:30vw;
            margin-left: -3vw;
            text-align: center;
            font-size: 2vw;
        }

        #Kanye_Text{
            width: 35rem;
            padding-top: 1vw;
            margin-left: 3vw;
            font-size: 1.5rem;
            color:white;
            border-bottom: 0.5vw solid white;
        }
        section_4 {
            width:90vw;
        }
        section_5{
            display: flex;
        }
        section_5 #Texto_en_lista {
            font-size: 1rem;
        }
        section_5 #spotify_icon img {
            display: none;
            width: 0vw;
        }
        section_5 #spotify_app img {
            width:30vw;
            margin-left: -40vw;
        }


        

    
}
@media (min-width:1024px) {
    header{
        display: block;
        width:100%;
    }   
        header section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:space-between;
            padding: 2%;
        }
        header img {
            width: 20vw;
        }
        
        header ul {
            display: flex;
        }
        header li {
            padding: 2%;
            font-size: 1.75rem;
        }
        
        section_2 h2 {
            width:30vw;
            font-size: 3vw;
            text-align: center;
            margin-left: 35vw;
        }
    section_3 {
        display:flex;
        width:100vw;
        margin-left: -0.5vw;
        align-items: center;
        justify-content:space-around;
    }
        section_3 img {
            width: 15vw;
        }
        section_3 h2 {
            width:30vw;
            text-align: center;
            font-size: 3vw;
            color:#00B172;
        }
        section_3 p {
            width:20vw;
            margin-left: 3vw;
            text-align: center;
            font-size: 1.75vw;
        }

        section_5 #Texto_en_lista {
            color:white;
            padding-left: 2vw;
            font-size: 2vw;
        }
        section_5 #spotify_icon img {
            display:inline;
            width:15vw;
            margin-left: -55vw;
            margin-top: 10vw;

        }
        section_5 #spotify_app img {
            width:23vw;
            margin-left: -35vw;
        }


}
